/*------------
  RESET
-------------*/
body{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
}
/*---------------
  TYPOGRAPHY
-----------------*/
/*---------------
  GENERAL
-----------------*/
/*---------------
  HEADER
---------------*/
/*--------------
    MAIN
------------------*/
/*----------------
  FOOTER
------------------*/